meilisearch
markdown
markdown.extensions
mkdocs
mkdocs-material
mkdocs-table-reader-plugin
mkdocs-autolinks-plugin
pygments
python-markdown-math
pyyaml
requests
typer[all]
myst-parser
sphinxcontrib-mermaid
fpdf2==2.8.4
